<script src="/js/new_survey.js"></script>
<div id="new_survey">
  <div id="survey_title">
  </div>
  <div id="questions_div">
    <ul id= "questions_list"><!--
      <li id= "question_1">
        what's your favorite monkey?
        <ul id= "choice_list">
          <li id="choice_1">
            bonobos
          </li>
        </ul>
      </li>  -->
    </ul>
  </div>
  <div id="add_question_div">
    <form id="add_question_form">
      <input type="text" placeholder="create your question">
      <input type="submit" value="submit question">
    </form>
    <h2 id="question_heading"></h2>
    <form id="add_choice_form">
      <input type="text" placeholder="create a choice">
      <input type="submit" value="submit choice">
    </form>
  </div>
  <div id="finished_button">
  </div>
</div>
