body {
  background-color: #e5e5e5;
}


nav li {
  display: inline-block;
  padding-right: 1%;
  /*text-align: right;*/
}

nav li a {
  text-decoration: none;
  color: white;

}

div nav{
  background-color: #333;
  padding: 1.5%;
}


#nav_ul{
  text-align: right;
}

#logo{
  width:300px;
  margin-top: 6px;
  color: white  ;

}

.graph {
  border-bottom: 2px solid #aeaeae;
  background-color: #eaeaea;
}
.bar {
  width: 200px;
  margin: 6px;
  display: inline-block;
  position: relative;
  background-color: #aeaeae;
  vertical-align: baseline;
}
.label {
  width: 200px;
  margin: 6px;
  display: inline-block;
}

#key {
  border-top: black solid 1px;
  height: 400px;
}
#profile{
  border: 1px solid black;
  width:600px;
  margin: 30px auto;

}

#survey {
  margin: 30px auto;
  border: 1px solid black;
  width:600px;
  padding:20px;

}

#welcome{
  margin-left: 30px;
}


#new_survey{
  margin: 50px auto;
  width:600px;
  text-align: center;
}

#photo {
margin-left: 30px;
}

#text{
  margin-left: 30px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  font-style: italic;
  font-size: 30px;
}


