body {
  background-color: #e5e5e5;
}


nav li {
  display: inline-block;
  padding-right: 1%;
  /*text-align: right;*/
}

nav li a {
  text-decoration: none;
  color: white;

}

div nav{
  background-color: #333;
  padding: 1.5%;
}

ul {
  /*text-align: right;*/

}

h1{
  width:300px;
  margin-top: 6px;
  color: white  ;

}

.graph {
  border-bottom: 2px solid #aeaeae;
  background-color: #eaeaea;
}
.bar {
  width: 200px;
  margin: 6px;
  display: inline-block;
  position: relative;
  background-color: #aeaeae;
  vertical-align: baseline;
}
.label {
  width: 200px;
  margin: 6px;
  display: inline-block;
}

#key {
  border-top: black solid 1px;
  height: 400px
}
